/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===================== CSS RESET =================== */

.app {
  display: flex;
  flex-direction: column;
}

/* background-image: url("https://static-wmwm.warnermediacdn.com/images/2021-09/01_ei_report_main_header.png"); */
.movies-bank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  margin: 2rem auto;
}
.movie_keyword_searchbar input {
  font-size: 3rem;
  width: 70vw;
  height: 3rem;
  color: #fff;
}

.form_submit_btn {
  border: 3px solid;
  font-size: 3rem;
  height: 100%;
}

.movies_results_found {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  height: 70vh;
  overflow: auto;
  scrollbar-width: none;
}

.movies_results_found::-webkit-scrollbar {
  width: 12px;
}
.movies_results_found::-webkit-scrollbar-thumb {
  background-color: #404040;
  border-radius: 10px;
}
.movies_results_found::-webkit-scrollbar-track {
  background-color: #c0d8c0;
  border: 1px solid #000;
  border-radius: 10px;
}

.movie_name {
  font-size: 2rem;
}
.movie_detail {
  display: flex;
}
.movie_release_year {
  font-size: 1rem;
}
.movie-search-icon {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  opacity: 0;
  transition: 2s ease-in-out;
}
.movie-search-icon path {
  fill: grey;
}
